/* https://www.color-hex.com/color/361d26 */

:root
{
  font-family: Arial Narrow;
  font-size: 12px;
}

/*
Centering using flexbox.
https://www.w3schools.com/howto/howto_css_center-vertical.asp
*/

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar menu */
#navbar 
{
  position: fixed;
  height: 100%;
  min-width: 100px;
  max-width: 190px;
  width=160px;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1em 1em 1em 1em;
  background-color: #eae8e9;
  overflow-x: hidden; /* Disables horizontal scroll */
  border-right: solid;
  border-width: thin;
  border-color: #d6d1d3;
 
  line-height: 50px;
  font-size: 20px;
}

#navbar header
{
  font-size: 26px;
  font-weight: bold;
  color: #361d26;
  line-height: 30px;
}

#navbar ul
{
    list-style: none;
}

/* navbar menu links */
#navbar a
{
  text-decoration: none;
  color: #361d26;
}

#navbar a:hover
{
  text-decoration: none;
  color: #683849;
  font-weight: bold;
}

#main-doc
{
  position: absolute;
  margin-left: 220px;
  margin-right: 220px;
  padding: 20px;
  margin-bottom: 110px;
}

section
{
  padding-top: 20px;
  padding-bottom: 20px;
}

h1
{
  font-size: 30px;
  color: #361d26;
}

h2
{
  font-size: 18px;
  color: #301a22;
}

p
{
  color: #150b0f;
}

code
{
  display: block;
  color: #c2bbbd;
  background-color: #361d26;
  line-height: 1.15;
  white-space: pre-wrap;
  margin-left: 30px;
  padding-right: 30px;
  min-width: 300px;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #9a8e92;
}

footer
{
  color: #aea4a8;
  background-color: #efefef;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
}

@media (max-width: 600px)
{
  #navbar header
  {
    font-size: 14px;
  }
  #navbar ul
  {
    padding-left: 0;
    padding-right: 0;
  }
  #navbar
  {
    font-size: 12px;
    width: 100px;
  }
  #main-doc
  {
    margin-left: 120px;
    margin-right: 240px;
  }
}